language: java
jdk:
- openjdk11
sudo: false
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
install: skip
test: skip
jobs:
  include:
  - stage: build pull request
    script: "./gradlew check jacocoTestReport"
    if: type = pull_request
  - stage: build master
    script: "./gradlew check jacocoTestReport publish"
    if: branch = master AND NOT type = pull_request
  - stage: build and stage release
    if: branch =~ /release/
    script: "./gradlew check publish bintrayUpload -Pversion=${TRAVIS_BRANCH#'release/'}"
  - stage: release
    if: branch =~ /release/
    script: "./gradlew closeAndReleaseRepository"
  - stage: github release
    if: branch =~ /release/
    script: "./gradlew check distZip distTar -Pversion=${TRAVIS_BRANCH#'release/'} && ./scripts/github-release.sh"
after_success:
- bash <(curl -s https://codecov.io/bash)
before_install:
- |
  if [[ "$TRAVIS_PULL_REQUEST" = "false" ]]; then
    openssl aes-256-cbc -K $encrypted_614293f52ce3_key -iv $encrypted_614293f52ce3_iv -in web3j.asc.enc -out web3j.asc -d
  fi
env:
  global:
  - secure: H9icwAxoZcZHlmSwpkix8sp7R2vdu3ygaWapt5CqUlzb2gLHMQn3Ky/ao6fMKXbybJYgUFAYnWGJztTCt8hxq0pq2Svvea2UgLuZK5c9Bn3W+SRJAoEdgNKNb0EL/srAKInmatjUH6BwgXduMxguSoBt3YPybwgC47FHCaFyEmaonccUmKhSogxacQ5xV3FU9mIQrPQCp0MHrO00A61pSbOHSJ1axodtC4Hu432CLCLfFJNs36yQaPcASCq88+XTvKadKpfcnhZQa7a998mfoHCkXw7EOWxRthUZEO73fGJKBA82Z+X6cvGkrBTbXnEe7bKOQzmkpE6DeXTIvta9+w4gGIUrNN9vDUfIQOK0MTLjFh3DwtKLXG87TRIAhT+dr/9ZNe3lni061oM5tGXUpfxx8sHYumNCyeo+ymMEwVMxFv6lH83qXIjTKI2Ivy13T4ORCnD1zrXwvjC5hhoWjfY6Z/5smBB4ybJRGWusFxnQUVvO9V8v1lj2i0IeDqSN3uaWuQzlV5s5dkYH9P5/ZlhfAhflRQaJEfYV3HEyoptwvDutIifaffbT9iE9+eW8Kr1rxNLVXXAnW9IXznM14eA/+oy7ePl/DwaP0djKPerpAQNytd0ocuMcXikpUQnsKbF9tTAKDz0+HJah4zyzseMXUMlOnYrZ3xV4Gofncb8=
  - secure: Ug5raQZrI01AYu42qV2ohgdR5dXJ2VT0isqKhQ36Lit2XcdjNYzLCWgWzAV/cFwK8J09D8Ecng0bhWPO9bpHJfsMb/eqNXA05+ZgUVAkumhUrDET6IQpgnYeTK2nklHIrumKxFwjGT1I7/6T4rlkvSAI6Foktd8kB9BuowsJFOzpGUh+ClGurt9L+50JCsJFgzRaiQ4wY38W89EoXLx+tsQXOTFltNYbqQTozFEjQQMXpwelf4LTpcxthyATr2bxQq0g6RolQvatMIlYtTGll41amju3hsA4TIv2iy08xdtEI4XamZg59VbpN8/sOgCV2DGAVFwuEmo7+LbLuAoHwsr90puCkIZQbCm3+0XfWnGiawold9HfBp/N1UcK516b7EwM02+0U+gQeFIGdD2tSZZoY9VTc9begAyhA2fWU/ORFMcft32FGADns24evDdqWJf5eS72wyW/mXjeU0UBQ/du1/Lnl0AkgtYed/gIozFV8b/mlZeEQtkAN/LgSRFc0czXhexKPbOkJ7Dkf7uRiON/q0yQClmBVwV3tmeXbIfRFDW76ClE7Lxr7+mxja2n3oxpiU8EhEeUO9D+9SdMDlMxo3e6EnH5RNQe5QHzWZA1EgZo7jD0yRqqD5yqXNZF4Ce3L3J5LOOAgQJNQr3rofUMSexirSdD1YmL8Z9HhJU=
  - secure: cuNn8o/91VLUKx0a3DJfPyXwscJmeMejZVp6YZahEyhYkQkTynnVUgeJ8fz9GD3HOqY0+B7jqNVpohRT71ZeJ/OVweJ/uAZJgHX+AVSHBGwYlqVPFdq/DsJe0GLNLorgNRkULwCPeytcJqyiUmiCR9soZR6QT1oICyddQGwArnnW0BFl95fcYgZj56RWpcKIRjIVotmNnrSzyrpVrIYCactll4lFISxupUnr9mkBJ2tR6gjWsnID6G45xdNn04v/H2v1qM+MyMLc/RHi07jPda3ykivumMltqLtYsQ0UaW8p6De8bggT690ABBB3fCbgv8CeyN43d2EBJ/PqQNiQZ6qkPX14MezoPahu/ejl6QllGUuZl4v625WkPoTXwhai8zk2/UM5r+CVXxj9/BXabedMEMSp9HVDi35t9m/1z7Rrj/WNg/vd1/O1OZYH2y9mABZ87H5buSZtytV/n8i6X1VmlhF/HwmzW8Tsh0W+nr2zJFrN8CdZMxFb7YDyQ5qQ08miwKtY8sXEy0eVzCxAqMXhtyprZzflPWQd1BX3BqeIUjRMoitJFAvLgGfJC66DZAT5HDvoV9QYhfh4v7m7KCe5HA2O711gcQrLHsvcekXWyiRlmqc+TyDRxS7x+VNdl+zHdv9lqVTXviZOTRy9BxS5rb92CitIVkzPxwjUC7k=
  - secure: K/eRr21GOE49AJ/SyDyaMlGVLXbO7zMles3z/9KL7T1Sk1B+QC5kG5l+Npskto/K3Mp1IuF4x3YYzsv65V8PHOPjIeagRF5hCguU/s5OKCmVvAB8aoKDzr7Mat216jth3G91JIpz66/i7BTn9y2bG0Yb9swhoGugsiQRdEracWbWl+c9OpTs2fyUB19QHZGqWFhPXjCTfD1n4sioZy+oqW9DgCPUWgqIxsv56Q1RDZNDvmzWqDE7/sQXBFcjqp1B2THV20GGOsF/i1EHGmbruti+zcpINxvyjvRpnhlVUf1UPj5cf1O081ZkcNI6X5uDxv9EfKcqupsxpRqMC7u43bPvILxlGsx4b2r6OJl7cGlYdgl/afolSgj3aLC/K+ajrRiYsPKtikRxTf6oHIQ9z3t6FTRy/iGqn2LnZvKjBSdcT/RsAPklaj5z6ikR2HH6GCfkPSMeL+Bam/aEzDeic9WpGFqTvvZGFGOwzFZEZEyOkmuwKoHeHiOV/wtY+YubUxNTximVFk3aL8cOlEegjjjaKQIfjDld7RBEj2zwHDAMXkh55HLI7BEN+soElyfauV8x7xniYlFF3OD2TDsuhbOrQ/MTk9xvRa14iCwEqUawv7dHVee7NBNEow+n9Hm8gQmSL+p4naT2IPCtx9zwXxeXo8sNTjD12/mZ4vLffKw=
  - secure: XMCIDuuxL22mnBFqDrT4pyOvc2cXjQ/H57creL4rdx6hIlYmyotHUcQRCQvS6W/RCDYybvSLf9dRGb0Zdlb6JUK0Ud496x9s29D3s39IEIFkSEeIiw+/Fdao3N4OLbZrDMiN0qeWRtRfLyxdEzJryrqyaOZ2OlsmsRv4WL40uMGrG9/mPKwMfgXz2CYIuE5eLNKUlsEFkzugYSc31CvnjHNBpcRhGVIgCTaZ+bdZjDkIycvwttwcm+x1kWDYALrF6knTOdJYqHmNv81PQrEWUzaEdpllVFLb04YpXfPLyM6b4F8pYCSkYC0X7lvbSo0xrFapvOI/pchqrIlMKtoXUfU0XtWL9wXKQbRAQKyRVKmLyRUFScRrcQYeI2L/D+ZADTQIVjlFKcIitnjsf4+n53nfoJoNMf6DoEnw6/e4XKBzW49bD8zzz0g51Sr25/HYrDwIe7+Voi8k63QbywiAIuFv9CLUlMQVfmdQ8VZOpUmlOJPzU/hSsotTtReFCYP5EIo2uwOBiASarEoBKZ1MNghE31PDlMqKJq849Wuw+uKN40FuVnlOZ13f5AlpWqaQjTrFtzDZgLphc+7jKQpgtwKN0cGHodqXm684QY0HTFmFju3VSb1nDWbaMIM/OLjed0cwHU2uxNCLaUgQy4hYAcN/DRCWIpy0Dj9bbXRuSec=
  - secure: OtxNdKIAc3bHynB+nYGPhL8Ypsax6GdQt7noVdOpELrjCpE8xz/8J9yXAtPqp28ZAkyjkrK5A7/i/sKFv9cGM0k0d9qVdkmitqxtooS9eJ6ZEhEKbv9Kwk5tuInEeCjVHdzQu4mNDrgri/LaPSCnQnP99O3f/tG/TzWkxTBDgsiafkJ5yZZjw2YF+RcfMFOy0k92xubM57KFs5oNUMp3LmEg/xsK22o/0tNcZ2B70e/ruvjN2dshf/57/P1D8vzWfQmaFffi8jp1G+KNgStHOZoB65JRRqQPdCFvTVneoh+9KokUxBe90UEdDIGqG1VkzYkU3GyldcBOgikosO4vbmPHvL2xHflszMfOkMW+DlodYl4eQW3h/eVzXQLEVA2XZO7U2JP//GFqge88McJt0GsTkYMhjx/eC8b+4/odpQdAq9/VYtuIy/+wxL2hNU9vi3+cTqWO5I0wYpRnaBYkY18Ou2MhXHy6nJRbrSfAdo07qKgoGKoS9BirDG2A1Mj+7VHoiyf0qUhyRLGRZCcjEduixiwcPe/2Bba9XBcIUP/F7Ox7vAGahx8Em12g5VKK6jdWEq794JfMP4mzWSzvuS4aKJ6f3bh22onkQLg5mmF588LtfGoMjuSEX7J0WGTpTclNGtFHSXWFzF/wXtqiIuHFACrDcaZ4Ydp8wuvDaM4=
